<!-- Level的级别，由高到低 -->
  <!-- None > Fatal > ERROR > WARN > DEBUG > INFO > ALL-->
  <!-- 解释：如果level是ERROR，则在cs文件里面调用log4net的info()方法，则不会写入到日志文件中-->
  <log4net>
    <!--错误日志类-->
    <logger name="error">
      <!--定义记录的日志级别-->
      <level value="ALL" />
      <!--输出到文件-->
      <appender-ref ref="ErrorAppender" />
      <!--输出到控制台-->
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <!--信息日志类-->
    <logger name="info">
      <level value="ALL" />
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <!--调试日志类-->
    <logger name="debug">
      <level value="ALL" />
      <appender-ref ref="DebugAppender" />
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <!--错误日志附加介质：输出到文件-->
    <!-- name属性指定其名称,type则是log4net.Appender命名空间的一个类的名称,意思是,指定使用哪种介质-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="utf-8" />
      <!--日志输出到exe程序这个相对目录下-->
      <file value="Log\\" />
      <!--输出的日志不会覆盖以前的信息-->
      <appendToFile value="true" />
      <!--备份文件的个数-->
      <maxSizeRollBackups value="100" />
      <!--单个日志文件的最大大小-->
      <maxFileSize value="10240" />
      <!--是否使用静态文件名-->
      <staticLogFileName value="false" />
      <!--日志文件名-->
      <datePattern value="'Error_'yyyyMMdd'.txt'" />
      <!--文件创建的方式，这里是以Date方式创建-->
      <rollingStyle value="Date" />
      <!--错误日志布局-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [Thread: %thread] %newline%message %newline"/>     
      </layout>
    </appender>
    <!--信息日志附加介质：输出到文件-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="utf-8" />
      <file value="Log\\" />
      <appendToFile value="true" />
      <maxFileSize value="10240" />
      <maxSizeRollBackups value="100" />
      <staticLogFileName value="false" />
      <datePattern value="'Info_'yyyyMMdd'.txt'" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [Thread: %thread] %message %newline"/>
      </layout>
    </appender>
    <!--调试日志附加介质：输出到文件-->
    <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="utf-8" />
      <file value="Log\\" />
      <appendToFile value="true" />
      <maxFileSize value="10240" />
      <maxSizeRollBackups value="100" />
      <staticLogFileName value="false" />
      <datePattern value="'Debug_'yyyyMMdd'.txt'" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [Thread: %thread] %message %newline"/>
      </layout>
    </appender>
    <!--日志附加介质：输出到控制台-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout" value="%date [%thread] %-5level %logger - %message%newline" />
    </appender>
  </log4net>